@media all
{
  * {font:12px Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;}
  body {background:#ffffff url(/img/nav/fond.gif) center top}
  #page {position:relative; width:1008px; margin:0 auto}
  #contenu {background-image:url(/img/nav/fond_contenu_large.jpg)}
  #centre {width:934px;padding:0 40px 40px 40px;text-align:left;}
  /*#orbi {float:right;text-align:right;margin-top:20px}*/
  #orbi {position: absolute;right: 50px;top: 10px;}
  #orbi * {padding:10px}
  #logo {width:100%;padding:5px}
  #logo {height: 60px;margin-bottom: 10px;}
  a img {border:none}
  #contenu strong {font-weight:bold}
  #contenu i {font-style:italic}
  h1 {font:bold 20px Verdana,Arial,sans-serif; border:solid 1px black; text-align:center; padding:15px} 
  h2 { font:bold 18px Verdana,Arial,sans-serif; margin:30px 0 15px 0; padding:5px; border-bottom:1px solid black}
  h3 { font:bold 15px Verdana,Arial,sans-serif; margin:20px 0 10px 5px; padding:2px}
  h4 { font:bold italic 14px Verdana,Arial,sans-serif; margin:10px 0 5px 5px}
  h5 { font:bold 13px Verdana,Arial,sans-serif; margin:10px 0 5px 15px}
  h6 { font:bold 11px Verdana,Arial,sans-serif; margin:10px 0 5px 25px}
  .item, .explanation, h1, h2, h3, h4, h5, h6 {clear:both} 
  .icon{float:left;margin-top:4px;margin-left:12px}
  .pr span{background:url(/img/report/icon-v.png) center right no-repeat; padding-right:15px} 
  .meta {margin-left:30px; padding:5px 0 15px 20px} 
  .metric, .metric * {font-size:11px;color:gray}
  .handle a{background:url(/img/com/arr-blue.gif) 0 50% no-repeat;padding-left:13px;text-decoration:none}
  .footnote {margin-top:8px;font-size:10px;font-style:italic}
  .abstract {font:italic 11px Verdana,Arial,sans-serif;color:gray;margin:5px 20px 0 20px; display:block}
  .explanation, #metrics {border:solid 1px black; background-color:#f2fafb; padding:15px; margin:25px 20px}
  .explanation *, #metrics * {font:italic 11px Verdana,Arial,sans-serif}
  .expl_title {font:bold italic 18px Verdana,Arial,sans-serif; margin:10px 0 5px 5px; display:block; text-align:center}
  .expl_sub_title, .expl_sub_title * {font-size:12px}
  .expl_sub_title {margin:10px 0 5px 5px; display:block; clear:right}
  .expl_group {margin: 2px 0 2px 15px; display:block;background:url(/img/com/bullet.gif) 0 10% no-repeat;padding-left:15px}
  .expl_info {margin:10px 0 15px 5px; display:block; float:right}
  .expl_line {text-align:center;display:block}
  .expl_info {left:15px} 
  .expl_info img{margin-bottom:-2px}
  #metrics {margin:5px 100px;width:78%;}
  #metrics .title {text-align:center;text-decoration:underline;font-size:15px}
  #metrics .main {padding:5px 30px 5px 10px;width:50%}
  #metrics div {padding:3px 0}
  #metrics span, #metrics th {font-weight:bold}
  #metrics table table {border-left:dotted 1px #555;padding-left:15px;}
  #metrics table table th {text-decoration:underline;padding:0 10px;text-align:right}
  #metrics table table td span {padding-right:15px}
}

@media print
{
  .item {page-break-inside:avoid;}
}
